*{
    margin: 0;
    padding: 0;
    
}
body{
    background: pink;
}

.container{
    
    border: 2px pink;
    box-shadow: 10px 10px 30px 10px ;
}
.header{
    background: black;
    color: white;
}
